body {
    font-family: Arial, sans-serif;
   }
   
   h1 {
    text-align: center;
    margin: 40px 0;
   }
form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
   }
   

